<div class="container">
    <div class="form-group">
      <label for="tableSelect">Select Table:</label>
      <select id="tableSelect" [title]="selectedTable.name" class="form-control" (change)="onTableChange($event)">
        <option *ngFor="let table of tables" [value]="table.name" [title]="table.name">
          {{ table.name }}
        </option>
      </select>
    </div>
  
    <app-table 
      [data]="selectedTable.data" 
      [columns]="columns" 
      [tableName]="selectedTable.name">
    </app-table>
</div>
  