<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
    <li class = "nav-item">
        <a routerLink="address-book" routerLinkActive="active" class="nav-link" >Address Book</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class = "footer mt-5">
  <div class="p-5">
    <span>Footer</span>
  </div>
</footer>